<div class="product-tabs">
  <ul class="tab-headers">
    <li class="tab-header active" data-tab="description">Description</li>
    <li class="tab-header" data-tab="specifications">Specifications</li>
    <li class="tab-header" data-tab="reviews">Reviews</li>
  </ul>
  
  <div class="tab-content active" id="description">
    {{ product.description }}
  </div>
  
  <div class="tab-content" id="specifications">
    <!-- Add product specifications here -->
  </div>
  
  <div class="tab-content" id="reviews">
    <!-- Integrate your review system here -->
  </div>
</div>