.marquee__part {
  flex-shrink: 0;
  padding: 0 4px;
  font-smooth: always;
}

.marquee {
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
}

.marquee a {
  text-decoration: none;
  color: inherit;
}

.marquee__inner {
  -webkit-font-smoothing: antialiased;
  width: fit-content;
  display: flex;
  flex: auto;
  flex-direction: row;
}